
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}
@model Account

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
                Register
            </h1>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            @if (ViewBag.IsError && String.Compare(ViewBag.Error, String.Empty) != 0)
            {
                <div class="alert alert-danger" role="alert">
                    Error Appeared: @ViewBag.Error
                </div>
            }else if (!ViewBag.IsError && String.Compare(ViewBag.Error, String.Empty) == 0)
            {
                <div class="alert alert-success" role="alert">
                    Register Successfully!! 
                </div>
                <p>Please <a href="@Url.Action("Index", "Login")">Login</a>.</p>
            }
            <form asp-action="RegisterAccount" method="POST">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" asp-for="Username" name="Username">
                </div>
                <div class="mb-3">
                    <label asp-for="Fullname" class="form-label">Fullname</label>
                    <input type="text" class="form-control" id="fullname" asp-for="Fullname" name="Fullname">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" asp-for="Password" name="Password">
                </div>
                <button class="btn btn-outline-success w-100">
                    Submit
                </button>    
            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>